.calendar-section {
  gap: 4.8rem;
}

.calendar-title {
  margin-top: 4rem;
}

.calendar-input,
.calendar-details,
.calendar-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-edit {
  flex-direction: column;
  gap: 2rem;
}

.calendar-edit h4 {
  font-size: 3.6rem;
  color: #333;
  font-weight: 400;
  color: #b3541e;
  margin-bottom: 1.2rem;
}

.calendar-grid,
.calendar-grid2 {
  display: grid;
  justify-content: center;
  /* row-gap: 2rem; */
  /* column-gap: 4.8rem; */
}
.calendar-grid {
  grid-template-columns: auto auto 75rem;
  margin-bottom: 6.4rem;
  border-collapse: collapse !important;
}

.calendar-grid div {
  border: 4px solid #eee;
  border-collapse: collapse;
  padding: 0.6rem;
}

.calendar-grid2 {
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 4.8rem;
  row-gap: 1.4rem !important;
}

.calendar-grid div,
.calendar-grid2 div {
  text-align: center;
}

.calendar-grid h6,
.calendar-grid2 h6 {
  font-weight: 400 !important;
  color: #333;
  font-size: 3.2rem;
}

.num-reservations {
  font-size: 2.4rem !important;
  /* color: #aaa !important; */
}

.num-reservations span {
  color: #333;
  /* font-size: 3.2rem; */
  font-weight: 900;
}

.title {
  color: #b3541e !important;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: left !important;
}

.edit-btn-section {
  margin-bottom: 9.6rem;
}

.edit-btn {
  padding: 1.2rem 10rem;
  margin: 0;
}

.edit-btn2 {
  margin-top: 6.4rem !important;
  padding: 1.2rem 6.4rem;
  margin: 0;
}

#num-input {
  width: 12rem;
  margin: 0;
}

.edit-btn-section {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 16.4rem;
}

.same-number {
  margin-top: 3.2rem;
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-column: 1/5; */
}

.calendar-input {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}
