/* @import "react-nice-dates/src/style.scss"; */

.calendar-title {
  margin-top: 2rem;
}

.calendar-consultation-title {
  margin: 0;
  padding: 0;
  color: #e08f62;
  /* color: #9dab86; */
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px #e08f62;
  /* border-bottom: solid 4px #9dab86; */
  border-top: solid 4px #e08f62;
  /* border-top: solid 4px #9dab86; */
  padding: 0 1rem;
  font-weight: 500;
}

.calendar-consultation-title p {
  margin: 0;
}

.calendar-input,
.calendar-edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-details {
  padding: 0 4.8rem;
  margin-top: 6.4rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 5.6rem;
  /* gap: 6.4rem; */
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* padding-bottom: 16rem; */
  /* width: 30%; */
  /* height: 80rem; */
  gap: 4.8rem;
}
.calendar-img {
  width: 32rem;
  /* height: 20rem; */
  border-radius: 16px;
}

.edit-img {
  margin-top: 4.8rem;
  width: 32rem;
  border-radius: 16px;
}
.calendar-element-section {
  width: 40rem;
}

.nice-dates-grid {
  /* height: 40rem !important; */
}
.nice-dates-week-header_day {
  font-size: 2rem !important;
}

.nice-dates-navigation_current {
  font-size: 1.8rem !important;
}
.calendar {
  font-size: 1.8rem !important;
}

.nice-dates-grid_container span {
  font-size: 1.8rem !important;
}

.-disabled::before {
  background-color: #e08f62 !important;
}

.calendar-edit {
  flex-direction: column;
  gap: 2rem;
}

.calendar-edit h4 {
  font-size: 3rem;
  color: #333;
  font-weight: 400;
  color: #e08f62;
  margin-bottom: 1.2rem;
}

.calendar-grid,
.calendar-grid2 {
  display: grid;
  justify-content: center;
  /* row-gap: 2rem; */
  /* column-gap: 4.8rem; */
}
.calendar-grid {
  grid-template-columns: auto auto 58rem;
  margin-bottom: 6.4rem;
  border-collapse: collapse !important;
  /* border: 4px solid #eee; */
  border-radius: 8px;
}

.calendar-grid div {
  border: 4px solid #eee;
  border-collapse: collapse;
  padding: 0.6rem;
}

.calendar-grid2 {
  grid-template-columns: auto auto auto auto;
  align-items: center;
  column-gap: 4.8rem;
  row-gap: 1.4rem !important;
}

.calendar-grid div,
.calendar-grid2 div {
  text-align: center;
}

.calendar-grid h6,
.calendar-grid2 h6 {
  font-weight: 400 !important;
  color: #333;
  font-size: 1.8rem;
  margin: 0;
}

.num-reservations {
  font-size: 2rem !important;
  /* color: #aaa !important; */
}

.num-reservations span {
  color: #333;
  /* font-size: 3.2rem; */
  font-weight: 900;
}

.title {
  color: #e08f62 !important;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  text-align: left !important;
}

.edit-btn-section {
  margin-bottom: 9.6rem;
}

.edit-btn {
  padding: 0.6rem 8rem;
  margin: 0;
}

.edit-btn2 {
  margin-top: 6.4rem !important;
  padding: 1rem 5.6rem;
  margin: 0;
  font-size: 2.2rem;
}

#num-input {
  width: 12rem;
  margin: 0;
  font-size: 1.8rem;
  padding: 0.4rem 2rem;
  background-color: #f9e9e0;
}

.edit-btn-section {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 16.4rem;
}

.same-number {
  margin-top: 3.2rem;
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-column: 1/5; */
}

.calendar-input {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

.player-mini-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ddd;
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 999px !important;
  border: none !important;
}

.player-mini-img-div h3 {
  font-size: 0.8rem;
  color: #333;
}

.player-mini-img {
  min-height: 4rem;
  min-width: 4rem;
}

.one-reservation {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  /* justify-content: center; */
  border: none !important;
}
