@import "~antd/dist/antd.css";

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
  margin-bottom: 6.4rem;
}

.dashboard-title {
  margin-top: 6.4rem !important;
  padding: 0 !important;
}
.dashboard-title p {
  margin: 0 !important;
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 6.4rem;
  margin-bottom: 3.2rem;
}

.chart-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1.2rem;
}

.chart-div h6 {
  color: #e08f62;
  font-size: 2.8rem;
}

.input-day {
  gap: 0rem !important;
}

.input-day label {
  font-size: 2rem;
}

#select-month,
#select-year {
  margin: 0;
  margin-top: 0.2rem;
  background-color: #f5f7f3;
  width: 18.8rem;
}

.list-players {
  margin-bottom: 6.4rem;
}

.list-players h6 {
  font-size: 2.8rem;
  text-align: center;
  color: #e08f62;
  margin-bottom: 2.4rem;
}

.table-players td,
.table-players th {
  font-size: 1.8rem;
  text-align: center;
}

.table-players th {
  color: #333 !important;
  background-color: #e2e6db !important;
}

.table-players td {
  color: #333 !important;
  background-color: #f5f7f3 !important;
}

.ant-pagination {
  display: none !important;
}

/* .chart {
  width: 32rem !important;
  height: 32rem !important;
}

.chart-day {
  width: 50rem !important;
  height: 25rem !important;
}
.chart-months {
  width: 50rem !important;
  height: 22rem !important;
} */

.chart {
  width: 26rem !important;
  height: 26rem !important;
}

.chart-day {
  width: 35rem !important;
  height: 20rem !important;
}
.chart-months {
  width: 35rem !important;
  height: 20rem !important;
}
