.footer {
  background-color: #e08f62;
  height: 6rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer div p {
  margin: 0;
  font-size: 1.6rem;
}
