.games-section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.2rem;
  flex-direction: column;
  min-height: calc(100vh - 6rem - 8rem);
  padding: 3.2rem 0 12.8rem 0;
}

.second-column {
  width: 42rem;
}
.fix-column {
  position: fixed;
  /* top: 20%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.center-content-games {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-stats,
.center-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-reservation-btn-section {
  padding-top: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-reservation-big-btn {
  font-size: 2.4rem !important;
  padding: 1.4rem 5rem;
  /* text-transform: uppercase; */
}

.stats-section {
  width: 100%;
  background-color: #e2e6db;
  padding: 2.4rem 3.6rem;
  border-radius: 36px;
}

.stats {
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.6rem;
  column-gap: 6.4rem;
  align-items: center;
  justify-content: center;
}

.stat {
  display: flex;
  justify-content: space-between;
  gap: 6.4rem;
}

.stat-title {
  font-size: 2.2rem;
  color: #b3724e;
  color: #b3724e;
}

.stat-value {
  justify-self: end !important;
  font-size: 2.2rem;
  color: #333;
}

.center-games {
  gap: 8rem;
}

.games-titles {
  position: fixed;
  top: 0%;
  padding-top: 16rem;
  padding-bottom: 3.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  cursor: pointer;
}

.games-title {
  font-size: 3.2rem;
  color: #aaa;
}

.active-games-title {
  color: #e08f62;
}

.games-title:hover {
  color: #e08f62;
}

.games-titles-background {
  position: relative;
  width: 5.6rem;
  height: 2.9rem;
  margin-top: 0.4rem;
  background-color: #e2e6db;
  border-radius: 100px;
  cursor: pointer;
}

.games-titles-tennisball {
  position: absolute;
  width: 3rem;
  transition: all 10s;
}

.coming {
  left: -1%;
  top: -4%;
}

.previous {
  right: -1%;
  top: -4%;
}

.tennisball-img {
  width: 3.2rem;
  height: 3.2rem;
}

.games-list {
  width: 58rem;
  margin-top: 12.98rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 1.6rem;
  /* height: 84rem;
  overflow-y: scroll; */
}

.game-card {
  width: 54rem;
  background-color: #e2e6db;
  border-radius: 36px;
  display: flex;
}

.game-card-img-content {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 16rem;
  width: 14rem !important;
  background-color: #bbb;
}

.game-card-text-content {
  padding: 2rem 2rem;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  /* row-gap: 1rem; */
}

.game-card-text-content h6 {
  margin: 0;
}

.game-info {
  font-size: 2.2rem;
  color: #333;
  font-weight: 500;
}

.game-img {
  /* width: 2rem; */
  min-height: 100%;
  min-width: 100%;
}
