.games-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-stats,
.center-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-reservation-btn-section {
  padding: 5.2rem 0;
}

.start-reservation-big-btn {
  font-size: 4.8rem !important;
  padding: 2rem 6.4rem;
  /* text-transform: uppercase; */
}

.stats-section {
  width: 100%;
  background-color: #e8ccbc;
  padding: 1rem 0;
}

.stats {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1.6rem;
  column-gap: 6.4rem;
  align-items: center;
  justify-content: center;
}

.stat {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.stat-title {
  font-size: 3.2rem;
  color: #b3541e;
}

.stat-value {
  justify-self: end !important;
  font-size: 3.2rem;
  color: #333;
}

.games {
  padding: 9.6rem 0 12.8rem 0;
}

.center-games {
  gap: 8rem;
}

.games-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}

.games-title {
  font-size: 4.8rem;
  color: #aaa;
}

.active-games-title {
  color: #b3541e;
}

.games-titles-background {
  position: relative;
  width: 5.6rem;
  height: 2.9rem;
  margin-top: 0.4rem;
  background-color: #e8ccbc;
  border-radius: 100px;
}

.games-titles-tennisball {
  position: absolute;
  width: 3rem;
  transition: all 0.3s;
}

.coming {
  left: -1%;
  top: -4%;
}

.previous {
  right: -1%;
  top: -4%;
}

.tennisball-img {
  width: 3.2rem;
  height: 3.2rem;
}

.games-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.game-card {
  width: 60rem;
  background-color: #e8ccbc;
  padding: 2rem 2rem;
  border-radius: 36px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  column-gap: 4.8rem;
  row-gap: 2.6rem;
}

.game-info {
  font-size: 3.2rem;
  color: #333;
  font-weight: 500;
}
