@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Squada+One&display=swap");

html {
  font-size: 62.5%;
}


body {
  font-family: "Squada One";
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.yellowButton,
.yellowButton:link,
.yellowButton:visited {
  border: none;
  cursor: pointer;
  color: white;
  background-color: #e8c31b;
  border-radius: 25px;
  padding: 1rem 3rem;
  font-family: "Squada One";
  font-size: 3rem;
  transition: all 0.3s;
}

.yellowButton:hover,
.yellowButton:active {
  /* background-color: #edcf49; */
  background-color: #ba9c16;
}

.yellowButton-secondary,
.yellowButton-secondary:link,
.yellowButton-secondary:visited {
  background-color: white !important;
  color: #e8c31b !important;
  box-shadow: inset 0 0 0 3px #e8c31b !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.yellowButton-secondary:hover,
.yellowButton:active {
  box-shadow: inset 0 0 0 3px #ba9c16 !important;

  color: #ba9c16 !important;
}

.arrow-icon {
  font-size: 2.6rem;
}

.hidden {
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) Make it unaccessible to mouse and keybord */
  pointer-events: none;
  /* 3) Hide it from screen readers */
  visibility: hidden;
}
