/* HEADER */

.header {
  /* display: flex;
  justify-content: center; /
  / align-items: center; /
  / gap: 3.2rem;
  padding: 9.4rem;
  width: 100%; /
  / height: calc(100vh - 8rem); */

  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  width: 100%;
  padding-top: 4rem; */
  background-image: url('../../public/skypicture.jpeg');
  height: 100vh;
  background-position: center center;
  display: flex;
  justify-content: center;
  background-size: cover;


}

.middle-page{
  /* background-image: url('../../public/intermediaire.jpeg') ; */
}


.section-intermediaire{
  height: 5vh;
  background-color: white;
}

#title {
  color: white;
  /* color: #E08F62; */
  font-size: 13rem;
  letter-spacing: 5rem;
  /* margin-left: 0.8rem; */

    /* border: solid white;
  border-radius: 5rem;
  padding-left: 5rem; */
}

.header-title {
  position: relative;
  display: flex;
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 5.4rem;
}

.header-description {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
}

.homePageButton {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tennis-img-header {
  max-height: 80%;
}

/* MAIN CONTAINER */

.howItWorks-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* padding: 6.4rem 6rem; */
  padding-bottom: 1rem;
}

.title-howItWorks {
  margin-top: 4rem;
  font-size: 5rem;
  color: #b3541e;
  letter-spacing: 1rem;
}

.text-howItWorks {
  font-size: 4.5rem;
  font-weight: 500;
  
}

.boxText {
  margin-bottom: 2rem;
}

.boxText-title {
  font-size: 15rem;
  color: white;
  font-weight: 500;

}

.titleTexts {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxText-description {
  font-size: 3.5rem;
  color: #b3541e;
  font-weight: 600;
}

.boxTemplate {
  /* display:flex; 
  justify-content: space-around;
  background-color: red; */
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 9rem 0; */
}

.home-img {
  height: 15rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* border-radius: 12px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.04); */
}

.divideBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 70rem;
  background-color: #b3541e; */
  border: none;
  margin: auto;
  /* height: 0.2rem; */
}

/* .boxElementMaria {
  height: 25rem;
} */

.gameSetMatchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  gap: 2rem;
  /* padding: 6rem; */
}

.ball-in-title {
  height: 2.9rem;
  width: 2.9em;
  position: absolute;
  top: 15.2%;
  left: 12.6%;
  /* margin-left: 6.2rem;
  margin-top: 2.1rem; */
}

.final-title {
  text-align: center;
  color: #b3541e;
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 6.4rem;
}

.yellowButton-final {
  padding: 1.6rem 6.4rem !important;
  margin-bottom: 12.8rem;
  border-radius: 9999px;
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.3);

}

.boxTemplate-last {
  padding-bottom: 4.8rem !important;
}


.details-banner{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.box-section{
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  align-items: center;

}

.card{
  background-color: #DED7B1;
  width: 50rem;
  height: 65rem;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.3);

}

.cardMiddle{
  background-color: #9DAB86;
  width: 50rem;
  height: 65rem;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.3);
}

/* .cardTwo{
  background-color: #9DAB86;
  width: 50rem;
  height: 65rem;
  border-radius: 15%;
}

.cardThree{
background-color: #DED7B1;
width: 50rem;
height: 65rem;
border-radius: 15%;
} */

.TitleCardScore{
  font-size: 15rem;
  color: white;
}

.DescriptionCardOdd{
  font-size: 3rem;
  text-align: center;
  color:#9DAB86;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  
}

.hidden-text{
  opacity: 0
}

.DescriptionCardEven{
  font-size: 3rem;
  text-align: center;
  color:#DED7B1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  
}