#title {
  color: #b3541e;
  font-size: 13rem;
  letter-spacing: 0.25rem;
  margin-left: 0.8rem;
}

.header-title {
  display: flex;
  flex-direction: column;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header-description {
  display: flex;
  color: #000000;
  font-size: 3.5rem;
  padding-left: 1.5rem;
}

.horizontalRule {
  width: 45rem;
  height: 0.3rem;
  background-color: #b3541e;
  border: none;
}

.homePageButton {
  display: flex;
  gap: 2rem;
  padding-left: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  padding: 6.4rem 0;
}

.rightContainer {
  display: flex;
  height: 45rem;
}
