/* HEADER */

.header {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  /* gap: 3.2rem;
  padding: 9.4rem;
  width: 100%; */
  /* height: calc(100vh - 8rem); */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  width: 100%;
  height: 45rem;
  padding-top: 4rem;
}

#title {
  color: #000000;
  font-size: 13rem;
  letter-spacing: 0.25rem;

  margin-left: 0.8rem;
  /* border-top: 0.5rem solid #b3541e;
  border-bottom: 0.5rem solid #b3541e */



.header-title {
  position: relative;
  display: flex;
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 5.4rem;
}

.header-description {
  color: #000000;
  font-size: 3.5rem;
  padding-left: 1.5rem;
  font-weight: 600;
}

.homePageButton {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2.8rem;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tennis-img-header {
  max-height: 80%;
}

/* MAIN CONTAINER */

.howItWorks-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* padding: 6.4rem 6rem; */
  padding-bottom: 1rem;
}

.title-howItWorks {
  margin-top: 4rem;
  font-size: 3rem;
  color: #b3541e;
}

.text-howItWorks {
  font-size: 4.5rem;
}

.boxText {
  margin-bottom: 2rem;
}

.boxText-title {
  font-size: 15rem;
  color: #bbbbbb;
}

.titleTexts {
  margin-left: 2rem;
}

.boxText-description {
  font-size: 3rem;
  color: #b3541e;
}

.boxTemplate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 9rem 0;
}

.home-img {
  height: 25rem;
  border-radius: 12px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.04);
}

.divideBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  height: 0.2rem;
  background-color: #b3541e;
  border: none;
  margin: auto;
}

.boxElementMaria {
  height: 25rem;
}

.gameSetMatchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* padding: 6rem; */
}

.ball-in-title {
  height: 3rem;
  width: 3em;
  position: absolute;
  top: 15.2%;
  left: 12.6%;
}

.final-title {
  text-align: center;
  color: #b3541e;
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 6.rem;
}

.yellowButton-final {
  padding: 1.6rem 6.4rem !important;
  margin-bottom: 12.8rem;
  border-radius: 9999px;
}

.boxTemplate-last {
  padding-bottom: 4.8rem !important;
}

.title-break{
  color: #000000
}