.button,
.button:link,
.button:visited {
  border: none;
  cursor: pointer;
  background-color: #b3551e00;
  font-size: 2.4rem;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}

.button:hover,
.button:active {
  /* color: #e08f62; */
  color: #9dab86;
}

.buttonShowed,
.buttonShowed:link,
.buttonShowed:visited {
  background-color: #e08f62;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  border-radius: 25px;
  color: white;
  padding: 0.5rem 2.2rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}

.buttonShowed:hover,
.buttonShowed:active {
  /* background-color: #e08f62; */
  background-color: #9dab86;
}

.logoNavBar {
  height: 3rem;
  width: 3rem;
}

.navbar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999 !important;
  background-color: rgba(0, 0, 0, 0);
  background-color: #e08e62a7;
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  /* opacity: 0; */
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbarRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: "Poppins", sans-serif;
}

.titleNavBar {
  margin: 0;
  font-size: 2.5rem;
  color: white;
  font-family: "Poppins", sans-serif;
}

.link-login {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoRedirect {
  text-decoration: none;
}

.profile-menu {
  background-color: #e08e62a7;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  top: 100%;
  right: 1%;
  padding: 2rem 2rem;
  border-radius: 8px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.chevron-icon {
  font-size: 1.8rem;
  transition: all 0.2s;
}

.btn-mobile-nav {
  color: #fff;
  font-size: 2.6rem;
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.navbar-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #ddd;
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 999px !important;
}

.navbar-img-div h3 {
  font-size: 0.8rem;
  color: #333;
}

.navbar-img {
  min-height: 100%;
  min-width: 100%;
}
