.button,
.button:link,
.button:visited {
  border: none;
  cursor: pointer;
  background-color: #b3541e;
  font-size: 2.4rem;
  color: white;
  font-family: "Squada One";
  transition: all 0.3s;
}

.button:hover,
.button:active {
  color: #e8c31b;
}

.buttonShowed,
.buttonShowed:link,
.buttonShowed:visited {
  background-color: #e8c31b;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  border-radius: 25px;
  color: white;
  padding: 1rem 3rem;
  font-family: "Squada One";
  transition: all 0.3s;
}

.buttonShowed:hover,
.buttonShowed:active {
  background-color: #ba9c16;
}

.logoNavBar {
  height: 3rem;
  width: 3rem;
}

.navbar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999 !important;

  background-color: #b3541e;
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbarRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: "Squada One";
}

.titleNavBar {
  font-size: 2.5rem;
  color: white;
}

.link-login {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoRedirect {
  text-decoration: none;
}

.profile-menu {
  background-color: #b3541e;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  top: 100%;
  right: 1%;
  padding: 2rem 2rem;
  border-radius: 8px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.chevron-icon {
  font-size: 1.8rem;
  transition: all 0.2s;
}
