.button,
.button:link,
.button:visited {
  border: none;
  cursor: pointer;
  background-color: #b3541e;
  font-size: 2.4rem;
  color: white;
  font-family: "Squada One";
  transition: all 0.3s;
}

.button:hover,
.button:active {
  color: #e8c31b;
  /* color: #ba9c16; */
}

.buttonShowed,
.buttonShowed:link,
.buttonShowed:visited {
  background-color: #e8c31b;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  border-radius: 25px;
  color: white;
  padding: 1rem 3rem;
  font-family: "Squada One";
  transition: all 0.3s;
}

.buttonShowed:hover,
.buttonShowed:active {
  /* background-color: #edcf49; */
  background-color: #ba9c16;
}

.logoNavBar {
  height: 3rem;
  width: 3rem;
  margin-left: 2rem;
}

.navbar {
  background-color: #b3541e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  /* font-family: 'Squada One'; */
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Squada One";
}

.navbarRight {
  padding-right: 5rem;
  display: flex;
  gap: 3rem;
  font-family: "Squada One";
}

.titleNavBar {
  font-size: 2.5rem;
  color: white;
}

.link-login {
 display: flex;
 align-items :center; 
 text-decoration: none;
}

.logoRedirect{
  text-decoration: none;
}