.news-big-container {
  min-height: calc(100vh - 6rem) !important;
}

.margin-top-news {
  margin-top: 14.8rem;
}

.white-bg {
  position: fixed;
  /* margin: 3.4rem 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: #fff;
  padding-bottom: 2rem;
}

.api-input {
  background-color: #f0c7b1 !important;
}

.news-section {
  width: 100%;

  background-color: #ebeee7;
  padding: 2.4rem;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  cursor: pointer;
}

.new-logo {
  width: 3rem;
  height: 3rem;
}

.new-logo-img {
  width: 3rem;
  height: 3rem;
}

.new-value {
  margin: 0;
  font-size: 3rem;
  color: #aaa;
  transition: all 0.3s;
}
.new-value:hover {
  color: #e08f62;
}

.new-value-active {
  color: #e08f62;
}

.news-results-section {
  padding-top: 27.2rem;
  padding-bottom: 6.4rem;
}

.results-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}

.result-card {
  width: 80rem;
  background-color: #ebeee7;
  padding: 2.6rem 6rem;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 2rem;
}

.tournement-infos {
  font-size: 2.8rem;
  color: #e08f62;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tournemant-title h6 {
  margin: 0;
}

.tournemant-date h6 {
  margin: 0;
}

.round-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  color: #e08f62;
}

.round-info h6 {
  margin: 0;
}

.players {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  row-gap: 1.6rem;
  column-gap: 3.6rem;
  font-size: 2.4rem;
  color: #aaa;
}

.winner {
  color: #333;
}

.player {
}

.player-ranking p {
  margin: 0;
}

.player-name p {
  margin: 0;
}

.player-score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.ranking p {
  margin: 0 !important;
}

.new-ball-icon {
  /* font-size: 4rem; */
  width: 2.8rem;
  height: 2.8em;
  /* margin-top: 0.4rem; */
  color: #e08f62;
}

.new-logo {
  margin-bottom: 0.8rem !important;
}
