.overview-section {
  padding-top: 12rem;
  padding-bottom: 6.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 6.4rem;
  min-height: calc(100vh - 6rem);
}

.overview-btn {
  margin: 0 6.4rem;
  margin-top: 2rem;
  width: 22rem;
  padding: 1rem 0;
  font-size: 2.4rem;
}

.overview-main-title {
  margin: 0;
  padding: 0;
  color: #e08f62;
  /* color: #9dab86; */
  font-size: 5.6rem;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px #e08f62;
  /* border-bottom: solid 4px #9dab86; */
  border-top: solid 4px #e08f62;
  /* border-top: solid 4px #9dab86; */
  padding: 0 1rem;
  font-weight: 500;
}
