/* IMPORTANT: rem and em do NOT depend on html font-size in media query!!! */
/* Instead, 1rem = 1em = 16px */

/*****************************************/
/* BELOW 1248px (Vertical tablets) */
/*****************************************/
@media (max-width: 78em) {
  .when-and-where {
    flex-direction: column !important;
  }
  .times-list {
    flex-direction: row !important;
    width: 89rem !important;
    overflow-x: scroll;
    padding: 2rem 0.2rem !important;
  }
  .reservation-buttons {
    width: 86rem !important;
  }
  .calendar-grid {
    grid-template-columns: 1fr 1fr 2fr !important;
    /* row-gap: 2rem; */
    column-gap: 0rem !important;
    padding: 0 2rem !important;
  }

  .club-infos-section {
    flex-direction: column !important;
  }

  .club-profile-btns {
    width: 60% !important;
  }
}

/*****************************************/
/* BELOW 1008px (Vertical tablets) */
/*****************************************/
@media (max-width: 63em) {
  .tennis-img-header {
    max-height: 60% !important;
  }

  .header {
    gap: 0rem !important;
    padding-top: 0rem !important;
  }
  #title {
    margin-left: 1rem !important;
    font-size: 8rem !important;
    text-align: center !important;
  }
  .ball-in-title {
    height: 1.8rem !important;
    width: 1.8rem !important;
    position: absolute !important;
    top: 16.8% !important;
    left: 15.6% !important;
  }

  .btn-header {
    font-size: 2.4rem !important;
    padding: 1rem 2rem !important;
  }

  .homePageButton {
    gap: 1rem !important;
  }
  .text-howItWorks {
    font-size: 3.6rem !important;
  }
  .howItWorks-section {
    gap: 0rem !important;
  }

  .center-games {
    gap: 2.4rem !important;
  }

  .games-section {
    grid-template-columns: auto !important;
    width: 100%;
    gap: 0rem !important;
    padding: 0rem 0 12.8rem 0 !important;
  }

  .second-column {
    grid-row: 1/2 !important;
    height: 34rem;
    display: flex;
    justify-content: center;
    width: 100% !important;
  }
  .fix-column {
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 4rem;
    gap: 1.6rem !important;
    padding-bottom: 4.4rem !important;
  }
  .stats {
    row-gap: 1rem !important;
  }
  .stat {
    gap: 4.8rem !important;
  }
  .stats-section {
    padding: 1.6rem 3.6rem !important;
  }
  .games-titles {
    position: relative !important;
    top: 45% !important;
    padding: 0 !important;
  }
  .games-list {
    margin: 0 !important;
    padding: 0 !important;
  }
}

/*****************************************/
/* BELOW 928px (Vertical tablets) */
/*****************************************/
@media (max-width: 58em) {
  .where-content {
    display: grid !important;
    grid-template-columns: auto !important;
    align-items: center !important;
    justify-content: center !important;
    /* flex-direction: column !important; */
  }
  .map-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 92% !important;
    margin: 0 auto;
    z-index: 0 !important;
  }

  .clubs-cards {
    flex-direction: row !important;
    height: 21.2rem !important;
    grid-row: 1/2;
    width: 92% !important;
    margin: 0 auto;
  }
  .times-list {
    width: 92vw !important;
  }
  #location-input {
    width: 240% !important;
  }
  .reservation-buttons {
    width: 72% !important;
  }
}

/*****************************************/
/* BELOW 896px (Vertical tablets) */
/*****************************************/
@media (max-width: 56em) {
  /* NAVBAR */
  .btn-mobile-nav {
    display: block !important;
    z-index: 9999 !important;
  }

  .navbar {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    z-index: 999 !important;
  }

  .navbarRight {
    background-color: #b3541e;

    position: absolute !important;

    top: 0 !important;
    right: 0 !important;
    width: 50% !important;
    height: 100vh !important;
    transform: translateX(100%) !important;

    display: flex !important;
    flex-direction: column !important;
    gap: 4.8rem !important;
    align-items: center !important;
    justify-content: flex-start !important;
    padding-top: 16rem !important;
    transition: all 0.3s ease-in !important;
    z-index: 999 !important;
  }
  .nav-open.navbarRight {
    pointer-events: auto !important;
    transform: translateX(0) !important;
    z-index: 999 !important;
  }
  .divideBoxes {
    width: 50rem !important;
  }
  .boxText-title {
    font-size: 12rem !important;
  }
  .boxText-description {
    font-size: 2.8rem !important;
  }

  .profile-menu {
    right: 14.6% !important;
    top: 560%;
    gap: 4.8rem;
    /* background-color: antiquewhite; */
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0);

    z-index: 999 !important;
  }
  .personnal-infos-form {
    grid-template-columns: 1fr !important;
    gap: 2rem !important;
  }
  #profile-title {
    font-size: 6.4rem !important;
  }
}

/*****************************************/
/* BELOW 848px (Vertical tablets) */
/*****************************************/
@media (max-width: 53em) {
  .sign-up-club {
    flex-direction: column !important;
    /* gap: 2rem !important; */
  }
  .club-profile-title #title {
    font-size: 4.8rem !important;
  }
}

/*****************************************/
/* BELOW 688px (Vertical tablets) */
/*****************************************/
@media (max-width: 43em) {
  .header {
    padding-top: 6rem !important;
    flex-direction: column !important;
    gap: 3.2rem !important;
    height: 100% !important;
  }
  .tennis-img-header {
    height: 20rem !important;
  }
  .home-img,
  .boxElementMaria {
    height: 22rem !important;
  }
  #profile-title {
    font-size: 4.8rem !important;
  }
  .profileBtn {
    font-size: 2.4rem !important;
    padding: 1.2rem 4.8rem !important;
  }

  .calendar-grid h6 {
    font-size: 2rem !important;
  }
  .edit-btn-section {
    gap: 2.4rem !important;
  }
  .edit-btn2 {
    font-size: 2.4rem !important;
    padding: 1.2rem 2rem !important;
    /* text-align: center !important; */
  }

  .address-div {
    grid-column: 1/2 !important;
  }
  #address-input {
    width: 30rem !important;
  }
  .club-infos-form {
    grid-template-columns: 1fr !important;
  }

  .profile-menu {
    right: 12.6% !important;
  }
}

/*****************************************/
/* BELOW 608px (Vertical tablets) */
/*****************************************/
@media (max-width: 38em) {
  .sign-up-title2 p {
    font-size: 3rem !important;
  }
  .profile-menu {
    right: 11% !important;
  }

  .game-card {
    width: 100% !important;
    column-gap: 0rem !important;
    justify-content: space-between !important;
  }

  .stat {
    gap: 4.8rem !important;
  }

  .stat-title {
    font-size: 1.8rem !important;
  }
  .games-titles {
    margin-top: 1.8rem !important;
    gap: 0.4rem !important;
  }
  .games {
    min-width: 0rem !important;
  }

  .games-title {
    font-size: 2.4rem !important;
  }

  .sign-up-club-title {
    font-size: 4rem !important;
  }

  .map-container-sign-up {
    width: 90vw !important;
    height: 36rem !important;
  }
  .calendar-consultation-title {
    font-size: 4.2rem !important;
  }

  .calendar-grid2 {
    column-gap: 1.2rem !important;
  }

  .calendar-grid2 h6 {
    font-size: 2rem !important;
  }
  .edit-form input {
    font-size: 1.6rem !important;
  }
}

/*****************************************/
/* BELOW 544px (Vertical tablets) */
/*****************************************/
@media (max-width: 34em) {
  .boxTemplate {
    flex-direction: column !important;
    gap: 2.4rem !important;
    padding: 4.8rem 4.8rem !important;
    align-items: flex-start !important;
  }
  .boxElement {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .profile-menu {
    right: 10% !important;
  }

  .boxTemplate2 {
    display: grid !important;
    grid-template-columns: 1fr !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }

  .boxElement2 {
    grid-row: 2/3 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
  }
  .divideBoxes {
    width: 40rem;
  }
  .map-container {
    height: 36rem !important;
  }
  .reservation-buttons {
    width: 90% !important;
    gap: 2rem !important;
  }

  .sign-in-club-title {
    font-size: 4.8rem !important;
  }

  .you-made-it#title {
    font-size: 4.8rem !important;
  }

  .coming-game-title {
    font-size: 3.6rem !important;
  }

  /* .calendar-grid2 h6 {
    font-size: 1.6rem !important;
  }
  .edit-form input {
    font-size: 1.2rem !important;
  } */
}

/*****************************************/
/* BELOW 448px (Vertical tablets) */
/*****************************************/
@media (max-width: 28em) {
  .divideBoxes {
    width: 30rem !important;
  }

  .sign-in-sumbit-button {
    padding: 1rem 8rem !important;
  }

  .edit-btn2 {
    font-size: 2.4rem !important;
    padding: 1.2rem 2rem !important;
  }

  .navbarRight {
    width: 60% !important;
  }
  .profile-menu {
    right: 8% !important;
  }
}
