.rankings-section {
  padding-bottom: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ranking {
  display: grid;
  grid-template-columns: 8rem 32rem 26rem 10rem;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: #333;
  font-weight: 400;
  /* gap: 9.6rem; */
}
