.reservation-section {
  padding: 4.8rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}

.reservation-main-title-section {
}

.reservation-main-title {
  font-size: 7.2rem !important;
  text-align: center;
}

.horizontalRule2 {
  width: 32rem;
  height: 0.3rem;
  background-color: #b3541e;
  border: none;
}

.when-and-where {
  display: flex;
  gap: 6.4rem;
}

.when,
.where {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.when-and-where-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.when-and-where-main-title {
  font-size: 3.6rem;
  color: #b3541e;
}

.when-and-where-second-title {
  font-size: 2.8rem;
  color: #333;
}

#date-input {
}

.times {
  display: flex;
  align-items: center;
  justify-content: center;
}

.times-list {
  background-color: #e8ccbc;
  width: 80%;
  /* height: 40rem; */
  /* overflow-y: scroll; */
  padding: 2rem 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  /* padding-left: 4rem; */
}

.time-element {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.time {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  color: #333;
}

.time:hover {
  color: #b3541e;
}

.time-logo {
  width: 2rem;
  height: 2rem;
  /* background-color: #b3541e; */
}

.time-selected {
  color: #b3541e;
}

.time-out {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  color: #aaa;
}

.time-logo-img {
  width: 2rem;
  height: 2rem;
}

.location-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.location-form label {
  font-size: 1.8rem;
  color: #333;
}
#location-input {
}

.map {
  height: 40rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  height: 40rem;
  width: 40rem;
}

/* .leaflet-container {
  height: 600px;
  width: 100%;
} */

.map-img {
  width: 40rem;
  border-radius: 16px;
}

.reservation-buttons {
  display: flex;
  align-items: center;
  gap: 36rem;
}

.when-input-style input {
  background-color: #e8ccbc;
  border-radius: 15px;
  padding: 1rem 3rem;
  margin: 1rem 0;
  font-family: "Squada One";
  border: none;
  font-size: large;
}

.location-icon {
  font-size: 3.2rem;
}

.where-content {
  display: flex;
  gap: 2.4rem;
}

.clubs-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 40rem;
  overflow-y: scroll;
}

.club-card {
  background-color: #e8ccbc;
  padding: 2rem 3.2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 32rem;
}

.club-card-not-available {
  background-color: #eee !important;
}

.club-title {
  font-size: 2rem;
  color: #b3541e;
  font-weight: 600;
}

.club-infos {
  font-size: 1.6rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.club-infos div {
  display: flex;
  gap: 1.4rem;
}

.club-button-section {
  display: flex;
  justify-content: end;
}

.club-button {
  font-size: 1.8rem;
}

.map-button {
  margin-top: 1rem;
  margin-left: 1.4rem;
  font-size: 1.6rem;
}

.marker-div p {
  margin: 0.4rem;
}

.marker-title {
  margin-bottom: 0.6rem;
}

.marker-div div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.4rem;
}

.your-reservation {
  display: flex;
  gap: 3.6rem;
  font-size: 4rem;
}

.not-clickable,
.not-clickable:link,
.not-clickable:visited {
  background-color: #f8edbb;
}
.not-clickable:hover,
.not-clickable:active,
.yw {
  background-color: #f8edbb;
}
