.center-title {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-sign {
  min-height: calc(100vh - 6rem - 8rem);
}

.sign-up-title {
  color: #b3541e;
  font-size: 7.2rem;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px #b3541e;
  border-top: solid 4px #b3541e;
  padding: 1rem 2rem;
}

.sign-up-form {
  padding-top: 4rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6.4rem;
}

.sign-up-club {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  margin-bottom: 3.6rem;
}

.sign-up-map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.map-text {
  font-size: 2.4rem;
  color: #333;
}

.map-img {
  width: 32rem;
  height: 32rem;
}
.create-account-form input {
  background-color: #e8ccbc;
  border-radius: 15px;
  padding: 1rem 3rem;
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: large;
}

.create-account-form input::placeholder {
  color: #aaa;
}

.create-account-form p,
.map-error {
  font-size: 1.8rem;
  color: #333;
}

.sign-up-sumbit-button,
.sign-up-sumbit-button:link,
.sign-up-sumbit-button:visited {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 15px;
  border: none;
  background-color: #e8c31b;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.3rem;
  margin-top: 2.4rem;

  padding: 1rem 10rem;
  transition: all 0.3s;
}

.sign-up-sumbit-button:hover,
.sign-up-sumbit-button:active {
  background-color: #ba9c16;
}

.sign-in-sumbit-button:hover,
.sign-in-sumbit-button:active {
  background-color: #ba9c16;
}

.sign-in-sumbit-button,
.sign-in-sumbit-button:link,
.sign-in-sumbit-button:visited {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 15px;
  border: none;
  background-color: #e8c31b;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.3rem;
  padding: 1rem 10rem;
  margin-top: 2.4rem;
  /* margin: 2rem 44rem; */
  transition: all 0.3s;
}

.sign-up-club-btn {
  padding: 1rem 8rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-account-form {
  margin-bottom: 1.5rem;
  font-size: large;
}

.login-account-form input {
  background-color: #e8ccbc;
  border-radius: 15px;
  padding: 1rem 3rem;
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  border: none;
  font-size: large;
}

.login-account-form input::placeholder {
  color: #aaa;
}

.map-container-sign-up {
  height: 50rem;
  width: 50rem;
  border-radius: 12px;
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08); */
}

.center-sign-up-club-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
}
